.container.mt-5
  %h1 Edit Organisation Profile
  = form_with model: @organisation, url: organisation_profile_path, local: true, method: :patch, class: "mt-4" do |f|
    .mb-3
      = f.label :name
      = f.text_field :name, class: "form-control"
    .mb-3
      = f.label :email
      = f.email_field :email, class: "form-control"
    .mb-3
      = f.label :phone_number
      = f.telephone_field :phone_number, class: "form-control"
    .mb-3
      = f.label :address
      = f.text_area :address, class: "form-control"
    = f.submit "Update Profile", class: "btn btn-success"
