= form_with model: @organisation, url: organisation_profile_path, method: :patch, local: true do |f|
  .mb-3
    = f.label :name
    = f.text_field :name, class: "form-control"

  .mb-3
    = f.label :email
    = f.email_field :email, class: "form-control"

  .mb-3
    = f.label :phone_number
    = f.telephone_field :phone_number, class: "form-control"

  .mb-3
    = f.label :location
    = f.text_field :location, class: "form-control"

  .mb-3
    = f.label :address
    = f.text_field :address, class: "form-control"

  .d-flex.justify-content-between.mt-3
    = link_to "Back", organisation_profile_path, class: "btn btn-secondary"
    = f.submit "Update Profile", class: "btn btn-primary"